<!DOCTYPE html>
<html>
<head>
	<title>MATH GAME APPLICATION </title>

	<meta charset="utf-8" />
	<link href="../Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body ng-app="MathGameModule" ng-controller="MathGameController">

	<!--<ul id="playerList"></ul>-->

	<p class="h2">MATH GAME APPLICATION</p>
	<br />
	<br />
	<br />

	<div class="alert alert-info" role="alert">
		<strong ng-show="players.length <10"> Total players playing now {{players.length}}</strong>
	</div>

	<div ng-if="isStartPage" style="margin: 100px;">
		<br />
		<p ng-if="players.length==10">
			Please wait until total is less than 10 players
		</p>

		<div class="col-md-6">
			<div class="input-group">
				<input id="username" type="text" class="form-control" placeholder="Enter your name to play..">
				<span class="input-group-btn">
					<button id="sendname" class="btn btn-success" type="button">Go!</button>
				</span>
			</div>
		</div>
		<br/>

		<div class="list-group col-md-4">
			<p class="h2">Online Players</p>
			<ul id="playerList" class="list-group-item active"></ul>
		</div>

	</div>

	<br />
	<br />

	<!--<p class="h2"> Level 1</p>

	<div class="alert alert-info" role="alert">
		<strong> Your score is {{currentScore}} out of {{itemLists.length}} </strong>
	</div>

	<div class="container">
		<table class="table">
			<thead>
			<tr>
				<th>Round</th>
				<th>Equation</th>
				<th>Your Answer</th>
				<th>Result</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in itemLists">
				<td>{{item.id}}</td>
				<td>{{item.equation}}</td>
				<td>
					{{item.userAns}}
					<div>
						<input ng-show="item.IsSelectNoVisible" ng-click="selectAnswer($index,'NO')" type="submit" value="No"/>
						<input ng-show="item.IsSelectYesVisible" ng-click="selectAnswer($index,'YES')" type="submit" value="Yes"/>
					</div>
				</td>
				<td>
					{{item.yourResult}}
				</td>
			</tr>

			</tbody>
		</table>
	</div>
	</div>-->
	<script src="../scripts/jquery-3.2.1.min.js"></script>
	<script src="../scripts/jquery.signalR-2.2.2.min.js"></script>
	<script src="/signalr/hubs"></script>




	<script src="../scripts/angular.min.js"></script>
	<!--<script src="../scripts/jquery-3.2.1.min.js"></script>-->
	<script src="../scripts/bootstrap.min.js"></script>
	<script src="../Module/MathGameApp.js"></script>
	<script src="../Controller/ControllersModule.js"></script>
	<script src="../Service/TestService.js"></script>

	<script type="text/javascript">
		$(function () {

			var connection = $.hubConnection();
			connection.logging = true;
			connection.start();
			console.log(connection);

			// Declare a proxy to reference the hub.
			var chat = $.connection.chatHub;

			// Create a function that the hub can call to broadcast messages.
			chat.client.broadcastMessage = function (name) {
				$('#playerList').append('<li><strong>' + name + '</li>');
				$('#gameload').val(false);

			};

			//render math game section and hide user input
			chat.client.renderGame = function () {
				$('#gameload').show();
				$('#sendname').hide();
				$('#username').hide();
			};


			chat.client.leaveGame = function () {
				$('#gameload').hide();
				$('#username').show();
			};


			// Start the connection.
			$.connection.hub.start().done(function () {
				console.log($.connection.hub.id);

				$('#sendname').click(function () {

					var name = $('#username').val();

					// Call the Send method on the hub.
					chat.server.send(name);

					console.log(name);
					$('#username').val('').focus();
				});

				$('#leaveGame').click(function () {
					chat.server.closeGame(true);
				});

				//var p= function () {
				$('#yes').click(function () {
					chat.server.send(name);
				});

			});
		});
	</script>

	<div id="gameload" style="margin: 100px;display: none">
		<div class="container">
			<table class="table table-responsive">
				<thead>
					<tr>
						<th>Round</th>
						<th>Equation</th>
						<th>Your answer</th>
						<th>Result</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="question in questions">

						<td>{{question.round}}</td>
						<td>{{question.equation}}</td>
						<td ng-if="question.yourAns==null">
							<button id="yes" ng-click="updateAnswer($index,true)">True</button>
							<button ng-click="updateAnswer($index,false)">False</button>
						</td>
						<td id="whenOneUserAnswer">
							<div ng-if="question.yourAns!=null">
								{{question.yourAns}}
							</div>
						</td>
						<td >

						</td>
						<td ng-if="question.yourAns!=null">
							<span ng-if="question.yourAns==question.result">OK</span>
							<span ng-if="question.yourAns!=question.result">Failed</span>

						</td>
					</tr>
				</tbody>
			</table>
		</div>


		<span class="input-group-btn">
			<!--<button class="btn btn-default" type="button" ng-click="finishGame()">Leave Game</button>-->
			<input id="leaveGame" class="btn btn-default" type="button">Leave Game/>
		</span>
	</div>



</body>

</html>